<div class="octoDetail">

	<div class="buttons">
		<a ng-click="createEvent()" class="btn btn-success"><i class="icon-plus icon-white"></i> Nouvel note</a>
		<a href="#" class="btn btn-info"><i class="icon-list icon-white"></i> Retour à la liste</a>
	</div>
	<h2 class="title">{{octo.name}}</h2>

	<table class="table table-hover">
		<tr>
			<th>Date</th>
			<th>Note</th>
			<th>Auteur</th>
		</tr>
		<tr ng-repeat="event in history | orderBy:'date':true" class="{{ event.highlight }}">
			<td>{{ event.date | date:'dd/MM/yyyy à HH:mm' }}</td>
			<td>{{ event.text }}</td>
			<td>{{ event.author }}</td>
		</tr>
	</table>

</div>